{% extends "layout.html" %}

{% block title %}
Novo Produto
{% endblock %}

{% block pesquisa %}
<form action="{{ url_for('save_produto') }}" method="post">

    <label for="codigo">Código:</label>
    <br>
    <input maxlength="50" type="text" id="codigo" name="codigo"
           style="width: 200px;" required
           value="{{ produto.codigo if produto else '' }}">
    <br><br>

    <label for="descricao">Descrição:</label>
    <br>
    <input maxlength="100" type="text" id="descricao" name="descricao"
           style="width: 400px;" required
           value="{{ produto.descricao if produto else '' }}">
    <br><br>

    <label for="preco">Preço:</label>
    <br>
    <input type="number" step="0.01" id="preco" name="preco"
           style="width: 200px;" required
           value="{{ produto.preco if produto else '' }}">
    <br><br>

    <label for="estoque">Estoque:</label>
    <br>
    <input type="number" step="0.01" id="estoque" name="estoque"
           style="width: 200px;" required
           value="{{ produto.estoque if produto else '' }}">
    <br><br>

    <input type="hidden" name="id"
           value="{{ produto.id if produto else '' }}">

    <input type="submit" value="Salvar">
    <a href="{{ url_for('list_produtos') }}">Cancelar</a>

</form>
{% endblock %}
